<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Akshat's Picture Voting System</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />

	</head>

	<body>

		<header>
			<!-- <h3><span class="green">Yes</span> or <span class="red">No?</span></h1> -->
			<h2>Akshat's Picture Voting System</h2>
		</header>


		{{{body}}}


		<!-- <footer> -->
            <!-- <a class="tz" href="http://tutorialzine.com/2014/01/nodejs-picture-voting-game-part-1/">Tutorial: Node.js Picture Voting Game</a> -->
		
	</body>
</html>