<nav>
	<a class="active" href="./">Selection</a>
	<!-- <a href="./standings">Result</a> -->
</nav>

{{#if photo}}

	<img src="photos/{{photo.name}}" width="1024" height="768" alt="Picture" />

	<div class="button-holder">
		<form action="./cute" method="post">
			<input type="hidden" name="photo" value="{{photo.name}}" />
			<input type="submit" value="Good!" />
		</form>
		<form action="./notcute" method="post">
			<input type="hidden" name="photo" value="{{photo.name}}" />
			<input type="submit" value="Not Good!" />
		</form>
	</div>

{{else}}

	<h3>Thank you! No more photos to vote on! You checked all</a>.</h3>
	<!-- <h3>No more photos to vote on! Check out the <a href="./standings">Results</a>.</h3> -->

{{/if}}